:root {
  --primary-color: rgba(154, 159, 165, 0.5);
  --secondary-color: rgba(25, 25, 25, 0.795);
  --turkiz: rgb(0, 83, 109);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.5rem;
  color: var(--secondary-color);
  background: whitesmoke;
  font-family: Calibri, 'Gill Sans';
}

::-webkit-scrollbar {
  display: none;
}

/* LOADING */

#loading-screen{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(75, 75, 75);
  z-index: 50;
}

#loading{
  color: whitesmoke;
  font-size: 3rem;
}

.loading-dots{
  animation: fadingDots 1200ms infinite;
  opacity: 0;
}

@keyframes fadingDots{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.loading-dots:nth-child(2){
  animation-delay: 400ms;
}

.loading-dots:nth-child(3){
  animation-delay: 800ms;
}

/* LANDING SECTION */

#landing-section {
  height: 100vh;
  width: 100%;
  padding: 3rem 0rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: -1;
}

.landing-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(img/firework1.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  z-index: -1;
}

.landing-bg::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(46, 221, 252, 0.1),
    rgba(255, 255, 255, 0)
  );
  z-index: 3;
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translatex(-50%);
  background: linear-gradient(to bottom, rgba(15, 15, 15, .3), rgba(15, 15, 15, .75), rgba(15, 15, 15, .9), 
  rgba(15, 15, 15, .75), rgba(15, 15, 15, .3));
  padding: 2rem;
  z-index: -1;
  width: 100%;
}

#landing-section > .landing-text-container > h1 {
  padding: 2rem 3rem;
}

.landing-text {
  font-size: 4rem;
  font-weight: 600;
  padding: 0rem 0.4rem;
  opacity: 0;
  transition: 400ms all ease-in-out 500ms;
}

.landing-subtitle {
  padding: 0 0 1rem 0;
  font-weight: 400;
  font-size: 2rem;
  opacity: 0;
  transition: all 400ms ease-in-out 1000ms;
}
.title-show {
  opacity: 1;
}

#landing-section > .landing-text-container > h1 > .landing-text:nth-child(9) {
  padding-left: 2rem;
}

#landing-section > .landing-text-container > .arrow-down {
  display: none;
  font-size: 2rem;
  animation: arrowAnim 1000ms infinite;
}

@keyframes arrowAnim {
  0% {
    transform: none;
    opacity: 0.5;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    transform: translateY(15px);
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: none;
    opacity: 0.5;
  }
}

.landing-text.title-show:nth-child(1) {
  transition-delay: 0ms;
}

.landing-text.title-show:nth-child(2) {
  transition-delay: 100ms;
}

.landing-text.title-show:nth-child(3) {
  transition-delay: 200ms;
}

.landing-text.title-show:nth-child(4) {
  transition-delay: 300ms;
}

.landing-text.title-show:nth-child(5) {
  transition-delay: 400ms;
}

.landing-text.title-show:nth-child(6) {
  transition-delay: 500ms;
}

.landing-text.title-show:nth-child(7) {
  transition-delay: 600ms;
}

.landing-text.title-show:nth-child(8) {
  transition-delay: 700ms;
}

.landing-text.title-show:nth-child(9) {
  transition-delay: 800ms;
}

.landing-text.title-show:nth-child(10) {
  transition-delay: 900ms;
}

.landing-text.title-show:nth-child(11) {
  transition-delay: 1000ms;
}

/* MAIN SECTION */

#main-content-container {
  background: whitesmoke;
  padding: 1rem 2rem;
}

/* ABOUT SECTION */

.about-us-container {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: 400ms all ease-in-out 150ms;
  z-index: 6;
}

.about-text {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

/* SLIDER */

.slider-container {
  height: 60vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.slider-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
  z-index: 2;
  background: linear-gradient(
    rgba(25, 25, 25, 0.2),
    rgba(25, 25, 25, 0.8),
    rgba(25, 25, 25, 0.2)
  );
}

.slider-container > .slider-text-container > i {
  color: whitesmoke;
  font-size: 2rem;
  opacity: 0;
}

.slider-text {
  padding: 4rem 3rem;
  font-size: 2rem;
  color: whitesmoke;
  transform: translateY(-250px);
  z-index: 0;
}

.about-text > p {
  padding: 2rem;
}

.slider1 {
  background: url(img/firework2.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

/* .slider2{
    background: url(img/firework1.jpg) no-repeat center center/contain;
} */

/* RANDOM TEXT */

.random-text {
  position: relative;
  z-index: 3;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.random-text > p {
  max-width: 20rem;
}

/* EVENT SECTION */

.events-container {
  height: 530px;
  background: url(img/photos-by-lanty-O38Id_cyV4M-unsplash.jpg) no-repeat center
    center/cover;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 2rem;
}

.event-cards {
  height: 100%;
  background: rgba(0, 87, 26, 0.8);
  color: whitesmoke;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(550px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  transition: 600ms all ease-in-out;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}

.event-card > p {
  width: 150px;
  padding: 1rem 0rem;
}

.event-card > i {
  font-size: 1.6rem;
}

/* FOOTER */

.content-foot {
  display: flex;
  width: 40%;
  margin-left: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-end;
  font-size: 1.5rem;
  /* padding-right: 13rem; */
  padding-bottom: 2rem;
  font-weight: 400;
}

.content-foot > div > i {
  margin-right: 1rem;
  color: rgba(0, 87, 26, 0.8);
}

.content-foot > div {
  padding: 0.7rem 1rem;
  font-style: italic;
}

.content-foot > p {
  padding: 0.3rem 1rem;
  font-style: italic;
  align-self: center;
}

footer {
  text-align: right;
  font-size: 1rem;
  padding: 0rem 1rem 0.5rem 0;
  color: var(--secondary-color);
}

footer > a {
  text-decoration: none;
  color: whitesmoke;
  font-style: italic;
  font-size: 1.1rem;
  color: var(--turkiz);
}

/* MEDIA QUERIES */

@media (max-width: 868px) {


  .landing-text-container {
    width: 100%;
  }
  
  #landing-section > .landing-text-container > h1 {
    padding: 2rem 0rem;
  }


  #landing-section > .landing-text-container > h1 > .landing-text {
    font-size: 2rem;
    padding: 0 0.1rem;
  }

  #landing-section > .landing-text-container > .landing-subtitle {
    width: 80%;
    text-align: center;
    font-size: 1.6rem;
  }

  #landing-section > .landing-bg {
    background-attachment: initial;
  }

  .slider1 {
    background-attachment: initial;
  }

  .slider-text {
    font-size: 1.4rem;
  }

  .events-container {
    background-attachment: initial;
  }

  .about-text {
    display: block;
    text-align: justify;
    font-size: 1.4rem;
  }

  .about-us-container {
    opacity: 1;
    transform: none;
  }

  .random-text {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .random-text > p {
    max-width: 100%;
    padding: 1rem;
  }

  .slider {
    background-size: cover;
    background-attachment: initial;
  }

  .events-container {
    margin-bottom: 18rem;
  }

  .event-cards {
    top: 50%;
    left: 20%;
    transform: translateY(100%);
    opacity: 0;
  }

  .content-foot {
    width: 100%;
    margin: 0;
    font-size: 1.4rem;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .content-foot > p {
    align-self: flex-start;
  }
}

@media (max-width: 500px) {
  #main-content-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .landing-text-container{
    padding: 1rem .4rem;
  }

  #landing-section > .landing-text-container > h1 > .landing-text {
    font-size: 1.6rem;
    padding: 0 0.1rem;
  }

  #landing-section > .landing-text-container > .landing-subtitle {
    width: 80%;
    text-align: center;
    font-size: 1.4rem;
  }

  .about-text {
    text-align: left;
    font-size: 1.2rem;
  }

  .about-text > p {
    padding: 1rem 0.7rem;
  }

  .events-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .event-cards {
    position: initial;
    height: 100%;
    width: 100%;
    margin: 0;
    grid-gap: 0.3rem;
    padding: 0;
    transform: none;
    opacity: 0;
    background: linear-gradient(
      to right,
      rgba(0, 87, 26, 0.55),
      rgba(0, 87, 26, 0.4),
      rgba(0, 87, 26, 0.2),
      rgba(0, 87, 26, 0.4),
      rgba(0, 87, 26, 0.55)
    );
  }

  .event-card {
    font-size: 1.2rem;
    padding: 0;
  }
}

@media (max-height: 400px) {
  #landing-section {
    padding: 0;
  }

  .landing-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .about-text {
    text-align: left;
    font-size: 1.2rem;
  }

  .about-text > p {
    padding: 1rem 0.7rem;
  }

  .events-container {
    margin: 0;
  }

  .random-text {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .random-text > p {
    max-width: 100%;
    padding: 1rem;
  }

  .event-cards {
    opacity: 1;
    position: initial;
    height: 100%;
    width: 100%;
    margin: 0;
    grid-gap: 0.3rem;
    padding: 0;
    transform: none;
    background: linear-gradient(
      to right,
      rgba(0, 87, 26, 0.7),
      rgba(0, 87, 26, 0.2),
      rgba(0, 87, 26, 0.7)
    );
  }
}
